.movie-card {

    margin: 1em 0;
    box-shadow: $shadow;
    border-radius: 5px;

    img {
        width: 100%;
        height: auto;
    }

    .card-info {
        padding: 0.5em;
        background: $dark;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        p,
        button {
            margin: 0.5em 0;
        }

        button {
            width: 100%;
            color: $blue;
        }
    }

    i {
        color: $yellow;
    }
}