$dark: #191919;
$gray: #e7e7ee;
$light: #e0e0e0;
$blue: rgb(76, 114, 253);
$dark-blue: rgb(71, 107, 240);
$light-blue: #6888FF;
$yellow: #EDC239;
$yellow-hover: rgb(226, 186, 55);

$transparent-dark: rgba(0, 0, 0, 0.5);
$transparent: rgba(255, 255, 255, 0.8);

$shadow: 0 3px 5px rgba(0, 0, 0, 0.4);